# Virtual environment
lens_env/

# Data (too large for git)
data/raw/
data/images/
embeddings/

# Model weights (use HuggingFace Hub instead)
checkpoints/

# MLflow runs
logs/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Wandb
wandb/

# OS
.DS_Store
Thumbs.db